@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.nunitoFont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #202020;
    padding-top: 80px;
}

p{
    color: #c7c7c7;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.navigationBar{
    position: fixed;
    top: 0;
    height: 55px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(7px);
    text-align: center;
    line-height: 55px;
    transition: all .55s ease;

    img{
        width: 45px;
        height: 45px;
        display: inline;
        position: absolute;
        left: 7px;
        top: 6px;
        opacity: 70%;
    }

    p{
        font-size: 15px;
        color: #f0f0f0ab;
        display: inline;
        transition: all .5s ease;
        position: relative;
    }

    div{
        text-align: center;
        width: 100%;
        height: 85%;
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.4s ease;
        flex-direction: column;

        button{
            display: block;
            height: 40px;
            width: 95%;
            margin-top: 2px;
            padding: 10px;
            background-color: #202020;
            border: none;
            text-align: left;
            border-radius: 2px;
            color: #bebebed7;
            transition: all .3s ease;
            max-width: 600px;
        }

        button:hover{
            background-color: #cccccc;
            color: black;
            height: 45px;
        }

        p{
            font-size: 17px;
            color: white;
        }
    }

}


.brief{
    padding-left: 10px;
    padding-right: 15px;
    max-width: 800px;
    
    p{
        font-family: sans-serif;
        font-weight: 400;
    }
}


.navigationBarCloseButton{
    position: absolute;
    bottom: 25px;
    background-color: white !important;
    color: black !important;
    border-radius: 15px !important;
    text-align: center !important;
    width: 85% !important;
    max-width: 500px !important;
}

.navigationBarCloseButton:hover{
    border: solid white 2px !important;
    background-color: #050505 !important;
    color: white !important;
    height: 38px !important;
}

