

body{
    background-color: #202020;
    padding-top: 80px;
}

p{
    color: #f0f0f0;
    font-family: sans-serif;
}


.navigationBar{
    position: fixed;
    top: 0;
    height: 55px;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.623);
    backdrop-filter: blur(7px);
    text-align: center;
    line-height: 55px;

    img{
        width: 45px;
        height: 45px;
        display: inline;
        position: absolute;
        left: 7px;
        top: 6px;
        opacity: 70%;
    }

    p{
        font-size: 15px;
        color: #f0f0f0ab;
        display: inline;
    }

}

.brief{
    padding-left: 10px;
    padding-right: 15px;
    max-width: 800px;
}