@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.nunitoFont {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body{
    background-color: #231f25;
    padding-top: 80px;
}

p{
    color: #bbb7bebe;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}


.navigationBar{
    position: fixed;
    top: 0;
    height: 55px;
    left: 0;
    right: 0;
    background-color: rgba(19, 17, 24, 0.623);
    backdrop-filter: blur(7px);
    text-align: center;
    line-height: 55px;
    transition: all .55s ease;

    img{
        width: 45px;
        height: 45px;
        display: inline;
        position: absolute;
        left: 7px;
        top: 6px;
        opacity: 70%;
    }

    p{
        font-size: 15px;
        color: #b8aabbab;
        display: inline;
        transition: all .5s ease;
        position: relative;
    }

    div{
        text-align: center;
        width: 100%;
        height: 85%;
        display: none;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.4s ease;
        flex-direction: column;

        button{
            display: block;
            height: 40px;
            width: 95%;
            margin-top: 2px;
            padding: 10px;
            background-color: #221c31;
            border: none;
            text-align: left;
            border-radius: 2px;
            color: #a398b9d7;
            transition: all .3s ease;
            max-width: 600px;
        }

        button:hover{
            background-color: #cccccc;
            color: black;
            height: 45px;
        }

        p{
            font-size: 17px;
            color: white;
        }
    }

    ul{
        display: none;
    }

}


a{
    color: #b39ac2;
}

.brief{
    padding-left: 10px;
    padding-right: 15px;
    max-width: 800px;
    
    p{
        font-family: sans-serif;
        font-weight: 400;
    }

    ul{
        color: #b2a5c4b6;
        font-family: sans-serif;
        font-weight: 400;
    }

    ol{
        color: #b2a5c4b6;
        font-family: sans-serif;
        font-weight: 400
    }
}


.navigationBarCloseButton{
    position: absolute;
    bottom: 25px;
    background-color: rgb(193, 165, 219) !important;
    color: rgb(68, 60, 68) !important;
    border-radius: 15px !important;
    text-align: center !important;
    width: 85% !important;
    max-width: 500px !important;
}

.navigationBarCloseButton:hover{
    background-color: #10001f !important;
    color: rgb(110, 91, 133) !important;
    height: 40px !important;
}

.navigationBarHeader{
    display: inline !important;
    opacity: 1 !important;
    align-items: start !important;
}


.projectSubPage{
    h1{
        text-align: center;
        background: #b3aeee;
        background: linear-gradient(82deg, rgba(179, 174, 238, 1) 0%, rgba(145, 89, 150, 1) 49%, rgba(148, 187, 233, 1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: sans-serif;
        font-size: 50px;
    }
}




@media screen and (min-width: 769px) {
    .navigationBar{
        text-align: center;

        img{
            display: none;
        }

        p{
            margin-left: 25px;
            position: absolute;
            left: 0;
            top: -13px;
        }

        ul{
            display: inline;
            color: white;

            li{
                font-family: "Nunito", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
                display: inline;
                color: #f0f0f088;
                margin-right: 14px;
                position: relative;
                top: 1px;
                transition: all 0.3s ease;
            }

            li:hover{
                color: #f0f0f0cb;
                text-shadow:
               0 0 5px #f0f0f091,
               0 0 8px #f0f0f091,
               0 0 8px #f0f0f091,
               0 0 8px #f0f0f091;
            }

        }
    }
}


